<label>Search by name or email: </label>
<input class="search" type="text" [(ngModel)]="searchTerm"/>
<input type="submit" (click)="getResult()" value="Submit"/>
<div class="card" *ngFor="let searchResult of searchList, let i = index">
  <span class="serial-number">{{ i + 1 }}</span>
  <div><label><b>Name: </b></label><span>{{ searchResult.name }}</span></div>
  <div><label><b>Email: </b></label><span>{{ searchResult.email }}</span></div>
  <div><label><b>Body: </b></label><span>{{ searchResult.body }}</span></div>
</div>